@import "../../styles/variables.scss";

button {
  border: 3px solid $black;
  padding: 1rem;
  font-family: $font-family;
  font-weight: 800;
  background: $black;
  border-radius: 7px;
  color: $white;
  letter-spacing: 3px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:disabled {
    background: $semi-transparent-black;
    border-color: $semi-transparent-black;
    color: $semi-transparent-light-gray;
    cursor: not-allowed;
  }

  &:hover {
    transform: scale(1.1);
    transition: all 0.2s ease-in-out;
    box-shadow: 0 0 11px $button-shadow;
  }
}
