.descriptionAndStatusComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0 11px #d3d3d3; */
  background: white;
  margin: 1.5rem 1rem;
  border-radius: 7px;
  padding: 0 30rem;
}
