.descriptionAndStatusComponent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin: 1.5rem 1rem;
  border-radius: 7px;
  padding: 0 30rem;

  @media screen and (max-width: 1500px) {
    padding: 0 1rem;
  }
}
