body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #31393f;
  background: #ececec;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.d-f {
  display: flex;
}

.j-c-c {
  justify-content: center;
}

.a-i-c {
  align-items: center;
}

.f-f-w {
  flex-flow: wrap;
}
